@font-face{
    src:url(/static/fonts/EBGaramond-VariableFont_wght.ttf) format('truetype');font-family:garamond;}
  @font-face{
    src:url(/static/fonts/Lexend-VariableFont_wght.ttf) format('truetype');font-family:lexend;}
@font-face {
    font-family: 'oswald';
    src: url('/static/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

 @keyframes focus{
    from{box-shadow:0px 0px 100px rgba(255, 255, 255, 0.625);}
    50%{transform:translateY(-10px)}
 }
 @keyframes focus-out{
    from{box-shadow:0px 0px 50px rgba(255, 255, 255, 0.625);}
    from{transform:translateY(-8px)}
 }

.box:hover{
    animation-name: focus;
    animation-duration: 0.3s;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}
.box:not(:hover){
    animation-name: focus-out;
    animation-duration: 0.2s;
    transform:translateY(8px);
}
.box{
    height:300px;
    float: bottom;
    width: 300px;
    margin:15px;
    border-radius: 20px;
}

.ib{
    font-family: oswald;
    width:250px;
    font-size:20px;
    padding:8px;
    border-radius: 8px;
    cursor:pointer; 
    background-color: #ffffff;
    color:#000000;
    margin:4px 15px;
    height:auto;
}
.ibb{
    font-family: lexend;
    width:100px;
    font-size:18px;
    padding:4px;
    border-radius: 8px;
    cursor:pointer; 
    background-color: #ffffff;
    color:#000000;
    border:2px solid rgb(255, 255, 255);
    margin:15px;
    height:35px;}

.anc{  font-family: lexend;
    font-size:25px;
    border-radius: 20px;

    background-color: #000080;
    color:#ffffff;
    text-decoration: none;
    padding:2px 5px;
}
.ibb:hover{
    background-color:#000000;
    color:#ffffff;
    border:2px solid rgb(255, 255, 255);
    padding:2px;
}
.bigt{
    color: #ffffff;
    font-family:lexend;
    font-size:50px;
    margin: 15px 15px;
    text-align:left;
    display: inline-block;}
.smlt{
    color: #ffffff;
    font-family: oswald;
    font-size:18px;
    margin: 2px 15px;
    }
.smlt-l{
    color: #000000;
    font-family: oswald;
    font-size:18px;
    margin: 2px 15px;
    }
.ltbu {
    height: auto;
    width: 500px;
    margin-top:150px;
    float: left;
}
.bigt-l{
    color: #000000;
    font-family:lexend;
    font-size:50px;
    margin: 15px 15px;
    text-align:left;
    display: inline-block;}

