{% extends 'librbase.html' %}{% block body %}
<div class="container my-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Issued On</th>
            <th scope="col">Num of Books</th>
          </tr>
        </thead>
        <tbody>
      <tr>
        <td>name</td>
        <td>category</td>
        <td>author</td>
        <td>date</td>
        <td>x</td>
      </tr>
    </table>              
    </div>
    <h6>Edit the Book</h6>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="b_name" value=""><br>
        <label for="content">Description</label><br>
        <textarea id="content" name="Description" >Default value</textarea><br>
        <input type="submit" value="Edit">
      </form> 

<a href="#" >Delete</a>
<h6>Detailed analysis using Graphs:</h6>
{% endblock body %}