{% extends 'adm.html' %}{% block main %}
{%if users.query.filter_by(flag=1).all()|length > 0 or camps.query.filter_by(flag=1).all()|length > 0%}
<h4 class="bigt-l" style="font-size:27px;">flaggged content</h4>
<div class="container my-3">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
{%for u in users.query.filter_by(flag=1).all()%}
  <tr>
    <td>User</td>
    <td>{{u.ID}}</td>
    <td>{{u.Name}}</td>
    <td><a class="anc smlt" href="/flag/u/{{u.ID}}/0">UNFLAG</a></td>
  </tr>
{%endfor%}
{%for c in camps.query.filter_by(flag=1).all()%}
  <tr>
    <td>Campaign</td>
    <td>{{c.ID}}</td>
    <td>{{c.goal}}</td>
    <td><a class="anc smlt" href="/flag/c/{{c.ID}}/0">UNFLAG</a></td>
  </tr>
{%endfor%}
</tbody>
</table>              
</div>
{%else%}
<h4 class="bigt-l" style="font-size:27px;">no flagged content</h4>
{%endif%}

{% endblock main %}