<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Influenza</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/css.css')}}">
</head>
<body>
  <div style="display: flex;justify-content: space-between;align-items: center;padding: 10px;width: 100%;box-sizing: border-box;">
<h1 style=><a class="bigt-l" href="/infh/{{current_user}}">Influenza</a></h1>
<p class="ib" style="margin: 4px 0px">Hello {{users.query.filter_by(ID=current_user).first().Name}} , youre an influencer </p>
</div>
<nav class=".nav -link">
<a class="anc smlt" href="/infh/{{current_user}}">home</a>
<a class="anc smlt" href="/infs/{{current_user}}">search</a>
<a class="anc smlt" href="/infd/{{current_user}}">account</a>
<a class="anc smlt" href="/login">Logout</a>
</h6></nav>
</div>

<hr>

{% block main %}
{% endblock main %}
<hr>
<hr>
<hr>
<hr>
</body></html>