{% extends 'inf.html' %}
{% block main %}
<form action="/infs/{{current_user}}" method="POST" style="display: inline-block;">

    <input type="text" name="value" class="ib" placeholder="Search" style="display: inline-block;">
</form>
<hr>
{% if results %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Ad name</th>
      <th scope="col">sponser</th>
      <th scope="col">Campaign</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
                    
  <tbody> 

{% for r in results %}

    <tr>
      <td>{{r.Name}}</td>
      <td>{{spons.query.filter_by(ID=camps.query.filter_by(ID=r.camps).first().spn).first().Name}}</td>
      <td>{{camps.query.filter_by(ID=r.camps).first().goal}}</td>
      <td>
        <form action="/update_req/{{r.ID}}" method="POST" class="ib">
          <input type="hidden" name="request_id" value="{{r.ID}}">
          <input type="submit" class="anc smlt" name="action" value="Make Request">
        </form>
      </td>
    </tr>


{% endfor %}
  </tbody>
</table>
{% else %}
<h4 class="ib">no ads found</h4>
{% endif %}


{% endblock main %}
