{% extends 'spn.html' %}{% block main %}
<!--tables
camps,  ads-->

{{message}}

<div class="ib">
    <p class="bigt-l" style="font-size: 25px;">account details</p>
    <hr>
    <hr>
    <dl>
        <dt>ID</dt>
        <dd>{{current_user}}</dd>
        <dt>Name</dt>
        <dd>{{users.query.filter_by(ID=current_user).first().Name}}</dd>
        <dt>Date of joining</dt>
        <dd>{{users.query.filter_by(ID=current_user).first().D_join}}</dd>
        <dt>Type of user</dt>
        <dd>{{users.query.filter_by(ID=current_user).first().Role}}</dd>
    </dl>
    <hr><hr>    <a class="anc smlt" href="/delete/{{current_user}}">delete account</a>
</div>
<hr>
{%if camps.query.filter_by(spn=current_user).all()|length > 0%}
<p class="bigt-l" style="font-size:27px;">Your Campaigns</p> <br> <hr><hr>
{% for c in camps.query.filter_by(spn=current_user).all()%}
<div class="ib">
<dl>
    <dt>ID</dt>
    <dd>{{c.ID}}</dd>
    <dt>Goal</dt>
    <dd>{{c.goal}}</dd>
    <dt>Description</dt>
    <dd>{{c.desc}}</dd>
</dl> </div>
{%if ads.query.filter_by(camps=c.ID).all()|length > 0%}
<p class="bigt-l" style="font-size:20px;">Ads for {{c.goal}}</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
      <tbody>
        {% for ad in ads.query.filter_by(camps=c.ID).all() %}
<tr>
<td>{{loop.index}}</td>
<td><p>{{ad.Name}}</p></td>
<td>    <a class="anc smlt" href="/new_request/{{ad.ID}}">Make request</a> <a class="anc smlt" href="/delete_ad/{{ad.ID}}">Delete</a></td>
</tr>
        {% endfor %}
      </tbody>
</table>
{% endif %}

  <br> 
<a class="anc smlt" href="/new_ad/{{c.ID}}">Create Ad</a> <a class="anc smlt" href="/delete_camp/{{c.ID}}">Delete Campaign</a><br><br>
<hr> <br> <br>
{%endfor%}
{% endif %}



{% endblock main %}