{% extends 'spn.html' %}{% block main %}
<!--tables
maybe req, ads
-->


<a class="anc" href="/new_camp/{{current_user}}" style="margin-left: 10px;">Create new Campaign</a>
<div>
    <h4>All requests</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Influencer</th>
      <th scope="col">Ad name</th>
      <th scope="col">Offer</th>
      <th scope="col">Duration</th>
      <th scope="col">Buttons</th>
    </tr>
  </thead>
                    
  <tbody>

    <tr>
      <td>Name</td>
      <td>Zero</td>
      <td>Date</td>
      <td>Description here</td>
      <td>
        <a href="#" type="button" class="btn btn-outline-dark btn-sm mx-1">DETAILS</a></button>
        
      </td>
    </tr>

  </tbody>
</table>

            
        
</div>
    
{% endblock main %}
