{% extends 'spn.html' %}
{% block main %}
<form action="/spns/{{current_user}}" method ="POST" class="ib" style="display: inline-block;">
  <input type="text" name="value" class="ib" placeholder="Search" style="display: inline-block;">
</form>
<hr>

{%if results%}
<table class="table">
<thead>
  <tr>
    <th scope="col">Influencer ID</th>
    <th scope="col">Influencer</th>
    <th scope="col">Platforms</th>
    <th scope="col">Niche</th>
    <th scope="col">Followers</th>
    <th scope="col">Action</th>
  </tr>
</thead>
                  
<tbody> 

{% for r in results %}

  <tr>
    <td>{{r.ID}}</td>
    <td>{{r.Name}} {%if users.query.filter_by(ID=r.ID).first().flag==1%}<p style="color:red">Flagged</p>{%endif%}</td>
    <td>{{r.plats}}</td>
    <td>{{r.niche}}</td>
    <td>{{r.folls}}         </td>
    <td><form action="/spns/{{current_user}}" method ="POST" style="display: inline-block;">
      <input type="hidden" name="influ" value="{{ r.ID}}">
      <input type="submit" name="view" class="anc smlt" value="view" style="display: inline-block;">
    </form></td>
  </tr>


{% endfor %}
</tbody>
</table>

{%else%}
<h4 class="ib">no influencers found</h4>
{%endif%}
{% endblock main %}